@font-face {
	font-family: 'SourceSansPro';
	src: url('~assets/fonts/black/SourceSansPro-Black.ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
	src: url('~assets/fonts/bold/SourceSansPro-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('~assets/fonts/semi-bold/SourceSansPro-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
}


@font-face {
  font-family: 'SourceSansPro';
	src: url('~assets/fonts/regular/SourceSansPro-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

